{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"bracketSpacing": true,
	"bracketSameLine": false,
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": false
}
