/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}

	* {
		/* @apply border; */
	}

	section {
		@apply mx-auto mb-8 w-[min(100%,_60rem)] px-4;
	}

	.content a {
		@apply text-gold-900 underline;
	}

	button,
	a,
	.checkbox-label,
	.option-label,
	.role-label {
		@apply transition-all active:scale-95;
	}

	button {
		@apply disabled:pointer-events-none disabled:opacity-50;
	}
}
