/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scrollbar-gutter: stable;

		@apply scroll-p-36 scroll-smooth;
	}

	section {
		@apply mx-auto mb-8 w-[min(100%,_60rem)] px-4;
	}

	.content a {
		@apply text-gold-900 underline;
	}

	button,
	a {
		@apply duration-200 hover:scale-95 active:scale-95;
	}

	button {
		@apply disabled:pointer-events-none disabled:opacity-50;
	}
}
